.ui-message {
    position: relative;
    overflow: hidden;

    & .ui-message-inner {
        display: flex;

        & > .ui-message-icon {
            width: var(--message-icon-size);
            height: var(--message-icon-size);

            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        & > .ui-message-button {
            width: var(--message-button-close-size);
            height: var(--message-button-close-size);
        }
    }

    & .ui-message-body {
        flex-grow: 1;
        flex-shrink: 1;
        flex-direction: column;

        & > .ui-message-text {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    & .ui-message-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > .ui-message-label {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}