.ui-timeline {
  --offset: calc(var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2);
  --tl-bullet-size: 20px;
  --tl-line-width: 4px;
  --tl-radius: 1000px;
}

.ui-timeline:where([data-align='left']) {
    padding-inline-start: var(--offset);
  }

.ui-timeline:where([data-align='right']) {
    padding-inline-end: var(--offset);
}

.ui-timeline .ui-timeline-item-title {
  line-height: 1;
}

.ui-timeline .ui-timeline-item {
  --item-border: var(--tl-line-width) var(--tli-border-style, solid) var(--item-border-color);

  position: relative;

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    left: var(--timeline-line-left, 0);
    right: var(--timeline-line-right, 0);
    bottom: calc(var(--mantine-spacing-xl) * -1);
    border-inline-start: var(--item-border);
    display: var(--timeline-line-display, none);

    .root[data-align='left'] & {
      --timeline-line-left: calc(var(--tl-line-width) * -1);
      --timeline-line-right: auto;

      @mixin rtl {
        --timeline-line-left: auto;
        --timeline-line-right: calc(var(--tl-line-width) * -1);
      }
    }

    .root[data-align='right'] & {
      --timeline-line-left: auto;
      --timeline-line-right: calc(var(--tl-line-width) * -1);

      @mixin rtl {
        --timeline-line-left: calc(var(--tl-line-width) * -1);
        --timeline-line-right: auto;
      }
    }
  }

  .root:where([data-align='left']) & {
    padding-inline-start: var(--offset);
    text-align: left;
  }

  .root:where([data-align='right']) & {
    padding-inline-end: var(--offset);
    text-align: right;
  }

  &:where(:not(:last-of-type)) {
    --timeline-line-display: block;
  }

  &:where(:not(:first-of-type)) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.ui-timeline .ui-timeline-item-bullet {
  width: var(--tl-bullet-size);
  height: var(--tl-bullet-size);
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .root:where([data-align='left']) & {
    left: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
    right: auto;

    @mixin where-rtl {
      left: auto;
      right: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
    }
  }

  .root:where([data-align='right']) & {
    left: auto;
    right: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);

    @mixin where-rtl {
      left: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
      right: auto;
    }
  }

  &:where([data-with-child]) {
    border-width: var(--tl-line-width);
  }
}

.ui-timeline .ui-timeline-item-body {
  .root:where([data-align='left']) & {
    padding-inline-start: var(--offset);
    text-align: left;

    @mixin where-rtl {
      text-align: right;
    }
  }

  .root:where([data-align='right']) & {
    padding-inline-end: var(--offset);
    text-align: right;

    @mixin where-rtl {
      text-align: left;
    }
  }
}