.ui-timeline {
  --offset: calc(var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2);
  --tl-bullet-size: 20px;
  --tl-line-width: 4px;
  --tl-radius: 1000px;

  & .ui-timeline-item-title {
    line-height: 1;
  }

  & .ui-timeline-item {
    --item-border: var(--tl-line-width) var(--tli-border-style, solid) var(--item-border-color);

    position: relative;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: var(--timeline-line-left, 0);
      right: var(--timeline-line-right, 0);
      bottom: calc(var(--mantine-spacing-xl) * -1);
      border-inline-start: var(--item-border);
      display: var(--timeline-line-display, none);
    }

    &:where(:not(:last-of-type)) {
      --timeline-line-display: block;
    }
  }

  & .ui-timeline-item-bullet {
    width: var(--tl-bullet-size);
    height: var(--tl-bullet-size);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:where([data-with-child]) {
      border-width: var(--tl-line-width);
    }
  }

  &:where([data-align='left']) {
    padding-inline-start: var(--offset);

    & .ui-timeline-item {
      padding-inline-start: var(--offset);
      text-align: left;

      &::before {
        --timeline-line-left: calc(var(--tl-line-width) * -1);
        --timeline-line-right: auto;

        html[dir="rtl"] & {
          --timeline-line-left: auto;
          --timeline-line-right: calc(var(--tl-line-width) * -1);
        }
      }
    }

    & .ui-timeline-item-bullet {
      left: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
      right: auto;

       html[dir="rtl"] & {
        left: auto;
        right: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
      }
    }

    & .ui-timeline-item-body {
      padding-inline-start: var(--offset);
      text-align: left;

      html[dir="rtl"] & {
        text-align: right;
      }
    }
  }

  &:where([data-align='right']) {
    padding-inline-end: var(--offset);

    & .ui-timeline-item {
      padding-inline-end: var(--offset);
      text-align: right;

      &::before {
        --timeline-line-left: auto;
        --timeline-line-right: calc(var(--tl-line-width) * -1);

        html[dir="rtl"] & {
          --timeline-line-left: calc(var(--tl-line-width) * -1);
          --timeline-line-right: auto;
        }
      }
    }

    & .ui-timeline-item-bullet {
      left: auto;
      right: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);

       html[dir="rtl"] & {
        left: calc((var(--tl-bullet-size) / 2 + var(--tl-line-width) / 2) * -1);
        right: auto;
      }
    }

    & .ui-timeline-item-body {
      padding-inline-end: var(--offset);
      text-align: right;

      html[dir="rtl"] & {
        text-align: left;
      }
    }
  }
}