.ui-accordion {
  & .ui-accordion-panel {
    overflow-wrap: break-word;
  }

  & .ui-accordion-item-title {
    margin: 0;
    padding: 0;
  }

  & .ui-accordion-control {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;

    &:where([data-chevron-position='left']) {
        flex-direction: row;
        padding-inline-start: 0;
    }

    &:where(:disabled, [data-disabled]) {
        cursor: not-allowed;
    }
  }

  & .ui-accordion-label {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .ui-accordion-chevron {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: rotate(0deg);

    &:where([data-rotate]) {
      transform: rotate(180deg);
    }
  }

  & .ui-accordion-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &:where([data-chevron-position='left']) {
        margin-inline-end: 0;
    }
  }

  & .ui-accordion-item--contained {
    & + .ui-accordion-item--contained {
        border-top: 0;
    }
  }

  & .ui-accordion-item--separated {
      border-color: transparent;
  }
}
