.ui-overlay {
    z-index: var(--overlay-z-index, 2);

    inset: 0;
    position: absolute;
}

.ui-overlay[data-fixed] {
    position: fixed;
}

.ui-overlay[data-center] {
    display: flex;
    align-items: center;
    justify-content: center;
}