.ui-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: var(--table-layout, auto);
  caption-side: var(--table-caption-side, bottom);
  border: none;

  & .ui-table-th {
    text-align: left;
  }

  html[dir="rtl"] & .ui-table-th {
    text-align: right;
  }

  & .ui-table-tr {
    border-bottom: none;
    background-color: transparent;

    &:where([data-with-row-border]) {
      border-bottom: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
    }
  }

  & .ui-table-td {
    &:where([data-with-column-border]) {
      &:not(:first-child),
      &:not(:first-child) {
        border-inline-start: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
      }

      &:not(:last-child),
      &:not(:last-child) {
        border-inline-end: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
      }
    }
  }

  & .ui-table-body {
    & > :where(tr):where([data-with-row-border]:last-of-type) {
      border-bottom: none;
    }
  }

  & .ui-table-header {
    top: var(--table-sticky-header-offset, 0);
    z-index: 3;

    &:where([data-sticky]) {
      position: sticky;

      & .ui-table-th {
        position: sticky;
        top: var(--table-sticky-header-offset, 0);
      }
    }
  }

  & .ui-table-scroll-container {
    overflow-x: var(--table-overflow);

    & .ui-table-scroll-container-inner {
      min-width: var(--table-min-width);
      max-height: var(--table-max-height);
    }
  }

  &:where([data-with-table-border]) {
    border: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);

    & .ui-table-header {
      &:where([data-sticky]) {
        position: sticky;
        top: var(--table-sticky-header-offset, 0);
        z-index: 4;
        border-top: none;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: calc(var(--table-border-size) / 2);
          width: 100%;
          height: var(--table-border-size);
          z-index: 5;
        }

        & .ui-table-th {
          &:first-child {
            border-top: none;
          }
        }
      }
    }
  }

  &:where([data-tabular-nums]) {
    font-variant-numeric: tabular-nums;
  }
}