.ui-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: var(--table-layout, auto);
  caption-side: var(--table-caption-side, bottom);
  border: none;
}

.ui-table:where([data-with-table-border]) {
    border: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
  }

.ui-table:where([data-tabular-nums]) {
    font-variant-numeric: tabular-nums;
  }

.ui-table .ui-table-th {
  text-align: left;
}

html[dir="rtl"] .ui-table .ui-table-th {
    text-align: right;
  }

.ui-table .ui-table-tr {
  border-bottom: none;
  background-color: transparent;
}

.ui-table .ui-table-tr:where([data-with-row-border]) {
    border-bottom: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
  }

.ui-table .ui-table-td:where([data-with-column-border]:not(:first-child)),
.ui-table .ui-table-td:where([data-with-column-border]:not(:first-child)) {
    border-inline-start: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
  }

.ui-table .ui-table-td:where([data-with-column-border]:not(:last-child)),
.ui-table .ui-table-th:where([data-with-column-border]:not(:last-child)) {
    border-inline-end: var(--table-border-size) var(--table-border-style, solid) var(--table-border-color);
  }



    .ui-table .ui-table-body > :where(tr):where([data-with-row-border]:last-of-type) {
      border-bottom: none;
    }


.ui-table .ui-table-header {
  top: var(--table-sticky-header-offset, 0);
  z-index: 3;
}

.ui-table .ui-table-header:where([data-sticky]) {
    position: sticky;
  }

.ui-table .ui-table-header:where([data-sticky]) :where(.ui-table-th) {
      position: sticky;
      top: var(--table-sticky-header-offset, 0);
}

.ui-table:where([data-with-table-border]) .ui-table-header[data-sticky] {
  position: sticky;
  top: var(--table-sticky-header-offset, 0);
  z-index: 4;
  border-top: none;
}

.ui-table:where([data-with-table-border]) .ui-table-header[data-sticky]::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: calc(var(--table-border-size) / 2);
  width: 100%;
  height: var(--table-border-size);
  z-index: 5;
}

.ui-table:where([data-with-table-border]) .ui-table-header[data-sticky] .ui-table-th:first-child {
  border-top: none;
}

.ui-table .ui-table-scroll-container {
  overflow-x: var(--table-overflow);
}

.ui-table .ui-table-scroll-container-inner {
  min-width: var(--table-min-width);
  max-height: var(--table-max-height);
}