.ui-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & .ui-card-section {
    display: block;

    & + .ui-card-section {
        border-top: none !important;
    }

    &:where(:first-child) {
        border-top: none !important;
    }

    &:where(:last-child) {
        border-bottom: none !important;
    }
  }
}