.ui-avatar-group {
  --avatar-group-offset: calc(var(--avatar-group-spacing) * -1);

  display: flex;
  padding-inline-start: var(--avatar-group-spacing);
}

.ui-avatar {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: block;
  user-select: none;
  overflow: hidden;
  text-decoration: none;

  & .ui-avatar-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  & .ui-avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &:where([data-within-group]) {
      margin-inline-start: var(--avatar-group-offset);
  }
}