.ui-typography {
    --spacing-xs: calc(0.625rem * var(--typography-margin));
    --spacing: var(--typography-margin);
    --spacing-lg: calc(1.25rem * var(--typography-margin));
    --spacing-xl: calc(2rem *var(--typography-margin));

    & :first-child {
        margin-top: 0;
    }

    & :last-child {
        margin-bottom: 0;
    }

    & :where(h1, h2, h3, h4, h5, h6) {
        margin-bottom: var(--spacing-xs);
        text-wrap: wrap;
        font-family: var(--typography-heading-font-family, inherit);
    }

    & :where(h1) {
        margin-top: calc(1.5 * var(--spacing-xl));
        font-size: var(--typography-h1-font-size);
        line-height: var(--typography-h1-line-height);
        font-weight: var(--typography-h1-font-weight);
    }

    & :where(h2) {
        margin-top: var(--spacing-xl);
        font-size: var(--typography-h2-font-size);
        line-height: var(--typography-h2-line-height);
        font-weight: var(--typography-h2-font-weight);
    }

    & :where(h3) {
        margin-top: calc(0.8 * var(--spacing-xl));
        font-size: var(--typography-h3-font-size);
        line-height: var(--typography-h3-line-height);
        font-weight: var(--typography-h3-font-weight);
    }

    & :where(h4) {
        margin-top: calc(0.8 * var(--spacing-xl));
        font-size: var(--typography-h4-font-size);
        line-height: var(--typography-h4-line-height);
        font-weight: var(--typography-h4-font-weight);
    }

    & :where(h5) {
        margin-top: calc(0.5 * var(--spacing-xl));
        font-size: var(--typography-h5-font-size);
        line-height: var(--typography-h5-line-height);
        font-weight: var(--typography-h5-font-weight);
    }

    & :where(h6) {
        margin-top: calc(0.5 * var(--spacing-xl));
        font-size: var(--typography-h6-font-size);
        line-height: var(--typography-h6-line-height);
        font-weight: var(--typography-h6-font-weight);
    }

    & :where(img) {
        max-width: 100%;
        margin-bottom: var(--spacing-xs);
    }

    & :where(p) {
        margin-top: 0;
        margin-bottom: var(--spacing-lg);
    }

    & :where(a) {
        color: var(--typography-color-link);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & :where(hr) {
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
        border: 0;
        border-top: 1px solid;
    }

    & :where(code) {
        padding: var(--spacing-xs);
    }

    & :where(pre) {
        padding: var(--spacing-xs);
        margin: 0;
        margin-top: var(--spacing);
        margin-bottom: var(--spacing);
        overflow-x: auto;
        font-size: 62.5%;

        & :where(code) {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            color: inherit;
            border: 0;
        }
    }

    & :where(kbd) {
        unicode-bidi: embed;
        text-align: center;
    }

    & :where(ul, ol) {
        margin-bottom: var(--spacing);
        padding-inline-start: var(--spacing-xl);
        list-style-position: outside;
    }

    & :where(table) {
        width: 100%;
        border-collapse: collapse;
        caption-side: bottom;
        margin-bottom: var(--spacing);

        & :where(caption) {
            margin-top: var(--spacing-xs);
            font-size: 75%;
        }

        & :where(th) {
            text-align: left;
            font-weight: bold;
            font-size: 75%;
            padding: var(--spacing-xs) var(--spacing-sm);
        }

        & :where(thead th) {
            border-bottom: 1px solid;
            border-color: var(--typography-table-border-color);
        }

        & :where(tfoot th) {
            border-top: 1px solid;
            border-color: var(--typography-table-border-color);
        }

        & :where(td) {
            padding: var(--spacing-xs) var(--spacing-sm);
            border-bottom: 1px solid;
            border-color: var(--typography-table-border-color);
            font-size: 75%;
        }

        & :where(tr:last-of-type td) {
            border-bottom: 0;
        }
    }

    & :where(blockquote) {
        margin: var(--spacing) 0;
        padding: var(--spacing) var(--spacing-lg);
    }
}