.ui-notification {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    position: absolute;
  }

  & .ui-notification-icon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .ui-notification-body {
    flex: 1;
    overflow: hidden;
  }

  & .ui-notification-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .ui-notification-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:where([data-with-icon])::before {
    display: none;
  }
}