.ui-skeleton {
  height: var(--skeleton-height, auto);
  width: var(--skeleton-width, 100%);
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  &::before,
  &::after {
    position: absolute;
    content: '';
    inset: 0;
  }

  &::before {
    z-index: 10;
  }

  &::after {
    z-index: 11;
  }

  &:where([data-visible]) {
    overflow: hidden;
  }
}
