.ui-tabs {
  display: block;
  flex-direction: row;

  & .ui-tabs-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--tabs-justify, flex-start);
    flex-direction: row;
    gap: unset;

    &:where([data-grow]) {
      & .ui-tabs-control {
        flex: 1;
      }
    }
  }

  & .ui-tabs-body {
    flex-grow: unset;
  }

  & .ui-tabs-control {
    position: relative;
    white-space: nowrap;
    z-index: 0;
    display: flex;
    align-items: center;
    line-height: 1;
    user-select: none;

    &:focus {
      z-index: 1;
    }

    &:where(:disabled, [data-disabled]) {
      cursor: not-allowed;
    }
  }

  & .ui-tabs-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .ui-tabs-label {
    flex: 1;
    text-align: center;
  }

  &:where([data-inverted]) {
    /* TODO: fix naming */
    & .list--default::before {
      top: 0;
      bottom: unset;
    }
  }

  &:where([data-orientation='vertical']) { 
    display: flex;

    & .ui-tabs-controls {
      flex-direction: column;
    }

    & .ui-tabs-body {
      flex-grow: 1;
    }

    &:where([data-placement='right']) {
      flex-direction: row-reverse;
    }
  }
}