.ui-tooltip {
    position: absolute;
    pointer-events: none;
    white-space: nowrap;

    & .ui-tooltip-arrow {
        background-color: inherit;
        border: 0;
        z-index: 1;
    }

    &:where([data-multiline]) {
        white-space: normal;
    }

    &:where([data-fixed]) {
        position: fixed;
    }
}