.ui-stepper {
  & .ui-stepper-steps {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &:where([data-wrap]) {
      flex-wrap: wrap;
    }

    &:where([data-orientation='vertical']) {
      flex-direction: column;

      &:where([data-icon-position='left']) {
        align-items: flex-start;
      }

      &:where([data-icon-position='right']) {
        align-items: flex-end;
      }
    }

    &:where([data-orientation='horizontal']) {
      flex-direction: row;

      & .ui-stepper-separator {
        flex: 1;
      }
    }
  }

  & .ui-stepper-step {
    display: flex;
    cursor: default;

    &:where([data-allow-click]) {
      cursor: pointer;
    }

    &:where([data-icon-position='left']) {
      flex-direction: row;
    }

    &:where([data-icon-position='right']) {
      flex-direction: row-reverse;
    }
  }

  & .ui-stepper-step--horizontal {
    align-items: center;
  }

  & .ui-stepper-step--vertical {
    justify-content: flex-start;
    overflow: hidden;

    &:where(:first-of-type) {
      margin-top: 0;
    }

    &:where(:last-of-type) {
      min-height: auto;

      & .verticalSeparator {
        display: none;
      }
    }
  }

  & .ui-step-wrapper {
    position: relative;
  }

  & .ui-stepper-icon {
    height: var(--stepper-icon-size);
    width: var(--stepper-icon-size);
    min-height: var(--stepper-icon-size);
    min-width: var(--stepper-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  & .ui-stepper-icon-completed {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .ui-stepper-step-body {
    display: flex;
    flex-direction: column;

    &:where([data-icon-position='right']) {
      text-align: right;
    }
  }

  & .ui-stepper-label {
    line-height: 1;
  }

  & .ui-stepper-description {
    line-height: 1;
  }

  html[dir="rtl"] & {
    & .ui-stepper-step-body:where([data-icon-position='right']) {
      text-align: left;
    }
  }

  &:where([data-orientation='vertical']) {
    & .ui-stepper-separator {
      inset-inline-start: calc(var(--stepper-icon-size) / 2);
      height: 100vh;
      position: absolute;
    }
  }
}