.ui-divider {
    & .ui-divider-label {
        display: flex;
        align-items: center;
        white-space: nowrap;

        &:where([data-position='left'])::before,
        &:where([data-position='right'])::after {
            display: none;
        }

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            border-top: var(--divider-size) var(--divider-style, solid) var(--divider-color);
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            border-top: var(--divider-size) var(--divider-style, solid) var(--divider-color);
        }
    }

    &:where([data-orientation='horizontal']) {
        border-top: var(--divider-size) var(--divider-style, solid) var(--divider-color);
    }

    &:where([data-orientation='vertical']) {
        border-inline-start: var(--divider-size) var(--divider-style, solid) var(--divider-color);
        height: auto;
        align-self: stretch;
    }

    &:where([data-with-label]) {
        border: 0;
    }
}